* {
    padding: 0;
    margin: 0;
    }
    
    body {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    }
    
    .container-clock {
    /* 置中 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;    
    color: rgb(255, 255, 255);
    width: 1000px;
    border-radius: 40px;
    }
    
    .time {
    font-size: 170px;
    font-weight: 500px;
    text-align: center;
    }
    
    .date {
    font-size: 40px;
    text-align: center;
    }
    
    #period {
    font-size: 0px;
    }

      
    
    
    
            
            
        
          
        
        
        
    
